
/*breadcrumbs 1*/

/*.breadcrumbsCss{*/
    /*background-color: #D5D8DC;*/
    /*padding: 8px;*/
    /*border-radius: 10px;*/
/*}*/
/*.breadcrumbsCss a{*/
    /*color: #0f0f0f;*/
/*}*/
/*.breadcrumbsCss a:hover{*/
    /*color: #478fc0;*/
/*}*/


/*!*   -----------------    btn-breadcrumb      ----------------- *!*/
/*.btn-breadcrumb .btn:not(:last-child):after {*/
    /*content: " ";*/
    /*display: block;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 17px solid transparent;*/
    /*border-bottom: 17px solid transparent;*/
    /*border-left: 10px solid white;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*margin-top: -17px;*/
    /*left: 100%;*/
    /*z-index: 3;*/
/*}*/
/*.btn-breadcrumb .btn:not(:last-child):before {*/
    /*content: " ";*/
    /*display: block;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 17px solid transparent;*/
    /*border-bottom: 17px solid transparent;*/
    /*border-left: 10px solid rgb(173, 173, 173);*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*margin-top: -17px;*/
    /*margin-left: 1px;*/
    /*left: 100%;*/
    /*z-index: 3;*/
/*}*/

/*!** The Spacing **!*/
/*.btn-breadcrumb .btn {*/
    /*padding:6px 12px 6px 24px;*/
/*}*/
/*.btn-breadcrumb .btn:first-child {*/
    /*padding:6px 6px 6px 10px;*/
/*}*/
/*.btn-breadcrumb .btn:last-child {*/
    /*padding:6px 18px 6px 24px;*/
/*}*/

/*!** Default button **!*/
/*.btn-breadcrumb .btn.btn-default:not(:last-child):after {*/
    /*border-left: 10px solid #fff;*/
/*}*/
/*.btn-breadcrumb .btn.btn-default:not(:last-child):before {*/
    /*border-left: 10px solid #ccc;*/
/*}*/
/*.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {*/
    /*border-left: 10px solid #ebebeb;*/
/*}*/
/*.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {*/
    /*border-left: 10px solid #adadad;*/
/*}*/


/*breadcrumbs 2*/

.breadcrumb3 {
    list-style: none;
    overflow: hidden;
    font-size: 12px;
    /*margin: 40px;*/
    padding: 0;
}
.breadcrumb3 li {
    float: left;
}
.breadcrumb3 li a {
    color: white;
    text-decoration: none;
    padding: 3px 0 3px 15px;
    background: #212f3d; /* fallback color */
    background: #212f3d;
    position: relative;
    display: block;
    float: left;
}
.breadcrumb3 li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #212f3d;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb3 li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

