.form-control{
    border: 0.9px solid #AEB6BF;
    box-shadow: inset 0 0.1px 1px  rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.form-control:focus{
    border: 0.9px solid #212F3D;
}

.disabled_link3 {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

li.Active_link a{
    background-color: #1e282c !important;
    color: #f8f8f8 !important;
    border-left: 3px solid #3c8dbc !important;
}
